@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  /* Vibrant Blue */
  --color-primary-hover: #1D4ED8;
  --font-sans: var(--font-antigravity), ui-sans-serif, system-ui, sans-serif;
}

.animate-slow-pulse {
  animation: slowPulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes slowPulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }
}

:root {
  --background: #fdfdfd;
  --foreground: #050038;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #e5e7eb;
  /* Gray background */
  color: var(--foreground);
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}